<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snotsoft.hungrr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".HunGrrApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".view.activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.DispatchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusTheme" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".register.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".restaurants.restaurant.RestaurantProfile"
            android:label="@string/title_activity_restaurant_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".restaurants.MainDrawerActivity"
            android:label="@string/title_activity_main_drawer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".base_preferences.HungryLevelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HungryLevelTheme" />
        <activity
            android:name=".base_preferences.BudgetActivity"
            android:label="@string/title_activity_budget"
            android:screenOrientation="portrait"
            android:theme="@style/BudgetTheme" />
        <activity
            android:name=".base_preferences.LocationActivity"
            android:label="@string/title_activity_location"
            android:screenOrientation="portrait"
            android:theme="@style/BudgetTheme" />

        <activity
            android:name=".base_preferences.MapsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_maps" />
    </application>

</manifest>
